.header {
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.header__title {
    color: #333;
    font-size: 2em;
    margin: 0;
}
